:host {
    display: flex;
    min-height: 100vh;
    background-color: #f5f5f5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  /* SIDEBAR */
  .sidebar {
    width: 260px;
    background: linear-gradient(180deg, #43cea2, #185a9d);
    color: white;
    padding: 20px;
    box-shadow: 2px 0 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    animation: slideInLeft 0.6s ease;
  }
  
  .sidebar-header h4 {
    margin: 0;
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 10px;
  }
  
  .sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar nav ul li {
    cursor: pointer;
    padding: 12px 16px;
    margin-bottom: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
  }
  
  .sidebar nav ul li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: translateX(5px);
  }
 /* Conteneur principal */
.form-container {
  max-width: 600px;
  margin: 30px auto;
  padding: 25px;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  font-family: 'Segoe UI', sans-serif;
}

/* Titre */
.form-container h2 {
  text-align: center;
  color: #2c3e50;
  margin-bottom: 20px;
}

/* Labels */
form label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  color: #34495e;
}

/* Inputs et textarea */
form input[type="text"],
form input[type="file"],
form select,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 18px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  box-sizing: border-box;
  transition: border 0.3s ease;
}

form input:focus,
form select:focus,
form textarea:focus {
  border-color: #3498db;
  outline: none;
}

/* Textarea spécifique */
form textarea {
  min-height: 100px;
  resize: vertical;
}

/* Bouton */
form button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(180deg, #43cea2, #185a9d);
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
 
}

form button:hover {
  background: linear-gradient(180deg,#185a9d,#43cea2);
}

